---
import ThemeToggle from "@/components/presenters/header.ThemeToggle.astro";
import BlurToggle from "@/components/presenters/header.BlurToggle.astro";
import DropdownMenuMobile from "@/components/presenters/header.DropdownMenuMobile";
import DropdownMenu from "@/components/presenters/header.DropdownMenu";
import { useGetTranslations } from "@/i18n";

const configTranslations = useGetTranslations(Astro);
const currentPath = Astro.url.pathname;

const { hiddenBorder = true } = Astro.props;
---

<header
    id="smart-header"
    class:list={[
        "sticky top-0 z-50 ",
        "will-change-transform",
        // !hiddenBorder ? "border-b" : "",
    ]}
>
    <div
        class:list={[
            "w-full max-w-[720px] mx-auto",
            "backdrop-filter *:bg-background/95 *:backdrop-filter:bg-background/60 ",
        ]}
    >
        <div class="flex h-8 items-center justify-between">
            <div>
                <DropdownMenuMobile
                    client:only="react"
                    currentPath={currentPath}
                    configTranslations={configTranslations}
                />
                <DropdownMenu
                    client:only="react"
                    currentPath={currentPath}
                    configTranslations={configTranslations}
                />
            </div>
            <div>
                <BlurToggle transition:persist />
                <ThemeToggle transition:persist />
            </div>
        </div>
        <div class="rounded-b">
            <slot />
        </div>
    </div>
</header>

<script>
    const header = document.getElementById("smart-header");
    const MAX_HIDE = 32; // h-8 tương đương 32px
    let lastScrollY = window.scrollY;
    let currentTranslateY = 0;

    function handleScroll() {
        if (!header) return;

        const scrollY = window.scrollY;
        const diff = scrollY - lastScrollY;

        currentTranslateY -= diff;

        if (currentTranslateY > 0) currentTranslateY = 0;
        if (currentTranslateY < -MAX_HIDE) currentTranslateY = -MAX_HIDE;

        header.style.transform = `translateY(${currentTranslateY}px)`;

        lastScrollY = scrollY;
    }

    window.addEventListener(
        "scroll",
        () => {
            window.requestAnimationFrame(handleScroll);
        },
        { passive: true },
    );
</script>
