---
import ThemeToggle from "@/components/presenters/header.ThemeToggle.astro";
import BlurToggle from "@/components/presenters/header.BlurToggle.astro";
import DropdownMenuMobile from "@/components/presenters/header.DropdownMenuMobile";
import DropdownMenu from "@/components/presenters/header.DropdownMenu";
import { useGetTranslations } from "@/i18n";

const configTranslations = useGetTranslations(Astro);
const currentPath = Astro.url.pathname;

const { hiddenBorder = true } = Astro.props;
---

<header
    id="smart-header"
    class:list={[
        "sticky top-0 z-50 ",
        "will-change-transform",
        // !hiddenBorder ? "border-b" : "",
    ]}
>
    <div
        class:list={[
            "w-full max-w-[720px] mx-auto",
            "backdrop-filter *:bg-background/95 *:backdrop-filter:bg-background/60 ",
            "after:content-[''] after:absolute after:top-full after:left-0 after:w-full after:h-4 after:bg-transparent",
        ]}
    >
        <div class="flex h-8 items-center justify-between">
            <div>
                <DropdownMenuMobile
                    client:only="react"
                    currentPath={currentPath}
                    configTranslations={configTranslations}
                />
                <DropdownMenu
                    client:only="react"
                    currentPath={currentPath}
                    configTranslations={configTranslations}
                />
            </div>
            <div>
                <BlurToggle transition:persist />
                <ThemeToggle transition:persist />
            </div>
        </div>
        <div class="rounded-b-xl">
            <slot />
        </div>
    </div>
</header>

<script>
    const header = document.getElementById("smart-header");

    const rem = parseFloat(getComputedStyle(document.documentElement).fontSize);
    const START_SCROLL = 15.6 * rem;
    const MAX_HIDE = 32;

    let lastScrollY = window.scrollY;
    let currentTranslateY = 0;
    let isHovered = false;

    function handleScroll() {
        if (!header) return;

        const scrollY = window.scrollY;

        // chưa cuộn đủ 15.6rem -> header luôn hiện
        if (scrollY < START_SCROLL) {
            currentTranslateY = 0;
            header.style.transform = "translateY(0px)";
            lastScrollY = scrollY;
            return;
        }

        const diff = scrollY - lastScrollY;
        lastScrollY = scrollY;

        currentTranslateY -= diff;

        if (currentTranslateY > 0) currentTranslateY = 0;
        if (currentTranslateY < -MAX_HIDE) currentTranslateY = -MAX_HIDE;

        if (!isHovered) {
            header.style.transform = `translateY(${currentTranslateY}px)`;
        }
    }

    window.addEventListener(
        "scroll",
        () => requestAnimationFrame(handleScroll),
        { passive: true },
    );
</script>
