---
import BaseHead from "@/components/Layouts/HeadSeo.astro";
import Footer from "@/components/Layouts/Footer.astro";
import Header from "@/components/Layouts/Header.astro";
import { themeConfig } from "@/config";
import { useGetTranslations } from "@/i18n";
import HeaderIndex from "@/components/pages/index";
import { getSortedVietnamBlog } from "@/lib/draft";
import ComponentItem from "@/components/Layouts/ComponentItem.astro";

const configTranslations = useGetTranslations(Astro);
const posts = (await getSortedVietnamBlog())
    .filter((post) => !post.data.pin)
    .slice(0, 4);
const mainPost = (await getSortedVietnamBlog()).filter((post) => post.data.pin);
---

<!doctype html>
<html lang={configTranslations.lang}>
    <head>
        <BaseHead
            title={themeConfig.site.title}
            description={themeConfig.site.description}
        />
    </head>
    <body>
        <Header />
        <main>
            <HeaderIndex configTranslations={configTranslations} />
            <div class="mt-[2vw]">
                <ComponentItem posts={mainPost} />
            </div>
            <hr class="mt-10" />
            <ul class="grid md:grid-cols-2 gap-4 mt-18">
                <ComponentItem posts={posts} />
            </ul>
            <div class="w-full flex justify-center items-center pt-16 pb-12">
                <a
                    href={`${configTranslations.lang}/blog`}
                    class="bg-accent text-sm h-full px-4 py-1 mb-4 cursor-pointer rounded-full"
                >
                    {configTranslations.more}
                </a>
            </div>
        </main>

        {themeConfig.general.footer && <Footer />}
    </body>
</html>
