---
import BaseHead from "@/components/Layouts/HeadSeo.astro";
import Footer from "@/components/Layouts/Footer.astro";
import Header from "@/components/Layouts/Header.astro";
import { themeConfig } from "@/config";
import { useGetTranslations } from "@/i18n";
import HeaderIndex from "@/components/pages/index";
import { getSortedVietnamBlog } from "@/lib/draft";
import ComponentItem from "@/components/Layouts/ComponentItem.astro";

const configTranslations = useGetTranslations(Astro);
const posts = (await getSortedVietnamBlog()).slice(0, 4);
---

<!doctype html>
<html lang={configTranslations.lang}>
    <head>
        <BaseHead
            title={themeConfig.site.title}
            description={themeConfig.site.description}
        />
    </head>
    <body>
        <Header />
        <main>
            <HeaderIndex configTranslations={configTranslations} />
            <ul class="mt-10 grid grid-cols-1 md:grid-cols-2 gap-4">
                <ComponentItem posts={posts} />
            </ul>
        </main>
        {themeConfig.general.footer && <Footer client:idle />}
    </body>
</html>
