---
export const prerender = false;

import Header from "@/components/Layouts/Header.astro";
import BaseHead from "@/components/Layouts/HeadSeo.astro";
import Footer from "@/components/Layouts/Footer.astro";
import { Resend } from "resend";
import { useGetTranslations } from "@/i18n";
import { themeConfig } from "@/config";
import { RESEND_API_KEY } from "astro:env/server";

let success = false;
let errorDescription = "";
const { url } = Astro;
const token = url.searchParams.get("email");
const configTranslations = useGetTranslations(Astro);
const resend = new Resend(RESEND_API_KEY);

if (token) {
    try {
        await resend.contacts.update({
            email: token,
            unsubscribed: true,
        });

        success = true;
    } catch (err) {
        errorDescription =
            err?.message || err?.error?.message || JSON.stringify(err);
    }
} else {
    errorDescription = "Missing email";
}
---

<!doctype html>
<html lang={configTranslations.lang as string}>
    <head>
        <BaseHead
            title={themeConfig.site.title}
            description={themeConfig.site.description}
        />
    </head>
    <body>
        <Header />
        {
            success ? (
                <main class="flex flex-col items-center justify-center px-4">
                    <h2 class="font-[Editorial] text-xl">
                        {configTranslations.unsubscribeSuccess}
                    </h2>
                    <span>
                        {configTranslations.unsubscribeSuccessDescription}
                    </span>
                    <img
                        src="https://media1.tenor.com/m/K-Hrm1rvOp4AAAAd/mambo-uma-musume.gif"
                        class="mt-4 px-8"
                    />
                </main>
            ) : (
                <main class="flex flex-col items-center justify-center px-4">
                    <h2 class="font-[Editorial] text-xl">
                        {configTranslations.unsubscribeError}
                    </h2>
                    <span>{errorDescription}</span>
                    <img
                        src="https://media1.tenor.com/m/kRYUW-D_rIkAAAAd/morgiana-eat.gif"
                        class="mt-4 px-8"
                    />
                </main>
            )
        }

        {themeConfig.general.footer && <Footer showRegister={false} />}
    </body>
</html>
