---
import BaseHead from '@/components/Layouts/HeadSeo.astro';
import Footer from '@/components/Layouts/Footer.astro';
import Header from '@/components/Layouts/Header.astro';
import NavigateLink from '@/components/Layouts/NavigateLink.astro';
import Search from '@/components/presenters/search.index';
import { tagsEnum } from '@/data';
import { capitalize, formatTagLabel } from '@/lib/utils';
import { useGetTranslations } from '@/i18n';
import { getFilteredBlog, getSortedVietnameTag } from '@/lib/draft';
import LayoutTag from '@/components/Layouts/LayoutTag.astro';
import { themeConfig } from '@/config';
import LayoutHeader from '@/components/Layouts/LayoutHeader.astro';
import ComponentItem from '@/components/Layouts/ComponentItem.astro';

export async function getStaticPaths() {
	return tagsEnum.map(tag => ({
		params: { slug: tag.toLowerCase() }
	}));
}

const { slug: tag } = Astro.params;
const capitalizedTag = capitalize(tag) as typeof tagsEnum[number];
const formalLabel = formatTagLabel(tag);
const posts = await getFilteredBlog()

const configTranslations = useGetTranslations(Astro as any)
const filteredPosts = await getSortedVietnameTag(capitalizedTag)
---
<!doctype html>
<html lang={configTranslations.lang}>
	<head>
		<BaseHead title={themeConfig.site.title} description={themeConfig.site.description} />
		<LayoutTag />
	</head>
	<body>
		<Header />
		<main>
			<LayoutHeader>
				<NavigateLink class='md:mb-8' name={configTranslations.navnavigateBack} />
				<Search client:visible configTranslations={configTranslations} posts={posts} />
			</LayoutHeader>
            <section class="pt-6">

                <h1 class="font-[Editorial] capitalize">Tag: {formalLabel}</h1>

                {filteredPosts.length === 0 ? (
                <p class="text-muted-foreground pt-2">
					{configTranslations.tagnoFound}
				</p>
                ) : (
				<p class="text-muted-foreground pt-3 pb-8">
					{configTranslations.tagtotal}: {filteredPosts.length} {" "} {configTranslations.tagposts}
				</p>
                <ul class="space-y-4">
					<ComponentItem posts={filteredPosts} />
                </ul>
                )}
            </section>
		</main>
		<Footer />
	</body>
</html>
