---
import type { CollectionEntry } from "astro:content";
import BaseHead from "@/components/Layouts/HeadSeo.astro";
import Footer from "@/components/Layouts/Footer.astro";
import FormattedDate from "@/components/Layouts/FormattedDate.astro";
import Header from "@/components/Layouts/Header.astro";
import { useGetTranslations } from "@/i18n";
import LayoutBlog from "@/components/Layouts/LayoutBlog.astro";
import { themeConfig } from "@/config";
import { Image } from "@unpic/astro";

type Props = CollectionEntry<"blog">["data"];

const configTranslations = useGetTranslations(Astro);
const { title, description, pubDate, heroImage } = Astro.props;
---

<html lang={configTranslations.lang as string}>
    <head>
        <!-- Thanks to Astro for Framework -->
        <!-- Thanks to Chiri for Code Template -->
        <!-- Thanks to Enscribe.dev for TOB Template -->
        <!-- Thanks to Shadui for Component Template -->
        <!-- Thanks to wwanname for Effect Template -->
        <!-- Thanks to devaslife for Grid Template -->
        <BaseHead title={title} image={heroImage} description={description} />
        <LayoutBlog />
    </head>
    <body>
        <Header hiddenBorder={false}>
            <slot name="table-of-contents" />
        </Header>
        <main>
            <article>
                <div class="prose">
                    <div class="title">
                        <div class="date">
                            <h1 class="font-[Editorial]">{title}</h1>
                            <FormattedDate date={pubDate} />
                        </div>
                        <hr />
                    </div>
                    {
                        heroImage && (
                            <div class="hero-image">
                                <Image
                                    sizes="(min-width: 1024px) 1024px, 100vw"
                                    src={heroImage}
                                />
                            </div>
                        )
                    }
                    <slot />
                </div>
            </article>
        </main>
        {themeConfig.general.footer && <Footer hiddenBorder={false} />}
    </body>
</html>
