---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '@/components/Layouts/HeadSeo.astro';
import Footer from '@/components/Layouts/Footer.astro';
import FormattedDate from '@/components/Layouts/FormattedDate.astro';
import Header from '@/components/Layouts/Header.astro';
import NavigateLink from '@/components/Layouts/NavigateLink.astro';
import { useGetTranslations } from '@/i18n';
import LayoutBlog from '@/components/Layouts/LayoutBlog.astro';


type Props = CollectionEntry<'blog'>['data'];

const configTranslations = useGetTranslations(Astro)
const { title, description, pubDate, heroImage } = Astro.props;
---
<html lang={configTranslations.lang}>
	<head>
		<!-- Thanks to Astro for Framework -->
		<!-- Thanks to Chiri for Code Template -->
		<!-- Thanks to Enscribe.dev for TOB Template -->
		<!-- Thanks to Shadui for Component Template -->
		<!-- Thanks to wwanname for Effect Template -->
		<BaseHead title={title} description={description} />
		<LayoutBlog />
	</head>
	<body>
		<Header>
			<slot name="table-of-contents" />
		</Header>
		<main>
			<article>
				<NavigateLink name={configTranslations.navnavigateBack} class={'pl-2.5 sm:pl-0'} />
				<div class="prose">
					<div class="title">
						<div class="date">
							<h1 class="font-[Editorial]">{title}</h1>
							<FormattedDate date={pubDate} />
						</div>
						<hr />
					</div>
					{heroImage &&
						<div class="hero-image">
							<Image width={1020} height={510} src={heroImage} alt="" />
						</div>
					}
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
