---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '@/components/HeadSeo.astro';
import Footer from '@/components/Footer.astro';
import FormattedDate from '@/components/FormattedDate.astro';
import Header from '@/components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '@/consts';
import NavigateLink from '@/components/NavigateLink.astro';
import Search from '@/components/presenters/search';
import { useGetTranslations } from '@/i18n/utils';

const configTranslations = useGetTranslations(Astro)
const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
)
.filter(post => post.id.startsWith(`${configTranslations.lang}/`));
---

<!doctype html>
<html lang={configTranslations.lang}>
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header lang={configTranslations.lang} />
		<main>
			<header class="sticky top-10 mb-5 md:mb-0 md:top-20.25 flex flex-row justify-between">
				<NavigateLink class='md:mb-8' name={configTranslations.navigateBack} />
				<Search client:load posts={posts} lang={configTranslations.lang} />
			</header>
			<section>
				<ul>
				{
					posts.map((post) => {
					const [postLang, ...slugParts] = post.id.split('/');
					const slug = slugParts.join('/');
					return (
						<li>
						<a href={`/${postLang}/blog/${slug}`}>
							{post.data.heroImage && (
							<Image width={720} height={360} src={post.data.heroImage} alt="" eagerly-loaded />
							)}
							<h4 class="title font-[Editorial] pt-4">{post.data.title}</h4>
							<p class="date">
							<FormattedDate date={post.data.pubDate} />
							</p>
						</a>
						</li>
					);
					})
				}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
