---
import { Image } from 'astro:assets';
import BaseHead from '@/components/Layouts/HeadSeo.astro';
import Footer from '@/components/Layouts/Footer.astro';
import FormattedDate from '@/components/Layouts/FormattedDate.astro';
import Header from '@/components/Layouts/Header.astro';
import { themeConfig } from '@/config';
import NavigateLink from '@/components/Layouts/NavigateLink.astro';
import Search from '@/components/presenters/search.index';
import { useGetTranslations } from '@/i18n';
import { getSortedEnglishBlog } from '@/lib/draft';
import LayoutHeader from '@/components/Layouts/LayoutHeader.astro';

const configTranslations = useGetTranslations(Astro)
const posts = await getSortedEnglishBlog()
---

<!doctype html>
<html lang={configTranslations.lang}>
	<head>
		<BaseHead title={themeConfig.site.title} description={themeConfig.site.description} />
	</head>
	<body>
		<Header />
		<main>
			<LayoutHeader>
				<NavigateLink class='md:mb-8' name={configTranslations.navnavigateBack} />
				<Search client:visible posts={posts} configTranslations={configTranslations} />
			</LayoutHeader>
			<section>
				<ul>
				{
					posts.map((post) => {
					const [postLang, ...slugParts] = post.id.split('/');
					const slug = slugParts.join('/');
					return (
						<li>
						<a href={`/${postLang}/blog/${slug}`}>
							{post.data.heroImage && (
								<Image width={720} height={360} src={post.data.heroImage} alt="" eagerly-loaded />
							)}
							<h4 class="font-[Editorial] pt-4">{post.data.title}</h4>
							<p>
								<FormattedDate date={post.data.pubDate} />
							</p>
						</a>
						</li>
					);
					})
				}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>
